@media(max-width: 1350px), (max-height: 350px){
    .sidepanel{
        display: none;
    }
}

@media(max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .aboutMe{
        &__wrapper{
            grid-template-columns: 400px 1fr;
            gap: 40px;
        }
        &__skills{
            gap: 20px 25px;
            &Item{
                column-gap: 15px;
            }
        }
    }
    .benefit{
        &__wrapper{
            padding: 0;
        }
    }
    .skills{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 270px);
        }
        &__progress{
            grid-template-columns: repeat(2, 350px);
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 280px);
        }
    }
    .contacts{
        &__wrapper{
            padding: 0;
        }
        &__desc{
            width: 510px;
        }
        &__name, &__email{
            input{
                width: 250px;
            }
        }
        &__bottom{
            justify-content: space-between;
        }
        &__policy{
            width: 225px;
            margin-left: 0;
        }
        .policy__errorMessage{
            top: 35px; 
        }
    }
}

@media(max-width: 992px){
    .container{
        max-width: 720px;
    }
    .title{
        &_fs36{
            line-height: 45px;
        }
    }
    .aboutMe{
        &__wrapper{
            grid-template-columns: repeat(2, 1fr);
        }
        &__skills{
            grid-template-columns: 1fr;
            grid-template-rows: minmax(90px, auto);
            grid-auto-rows: minmax(90px, auto);
            gap: 20px normal;
        }
    }
    .benefit{
        &__wrapper{
            .resume{
                width: 300px;
            }
        }
    }
    .skills{
        &__progress{
            grid-template-columns: repeat(2, 300px);
        }
    }
    .price{
        &__wrapper{
            padding: 0;
            grid-template-columns: repeat(2, 300px);
        }
    }
    .contacts{
        &__photo{
            width: 340px;
        }
        &__desc{
            width: 340px;
        }
        &__form{
            margin-top: 0;
        }
        &__inputs{
            flex-direction: column;
        }
        &__name, &__email{
            margin-top: 30px;
            input{
                width: 100%;
            }
        }
        &__bottom{
            flex-direction: column-reverse;
            margin-top: 20px;
        }
        &__button{
            margin-top: 20px;
        }
        &__policy{
            justify-content: center;
            width: 100%;
        }
        .policy__errorMessage{
            top: 15px; 
        }
    }
}

@media(max-width: 768px){
    .container{
        max-width: 540px;
    }
    .title{
        &_fs48{
            font-size: 35px;
            line-height: 48px;
        }
    }
    .aboutMe{
        padding-top: 40px;
        &__wrapper{
            grid-template-columns: 1fr;
            grid-template-rows: 340px repeat(2, auto);
            gap: 40px normal;
        }
        &__photo{
            grid-row: auto;
        }
        &__skills{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(120px, auto);
            grid-auto-rows: minmax(120px, auto);
            gap: 20px 25px;
        }
    }
    .benefit{
        padding-top: 46px;
        &__wrapper{
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .resume{
                width: 425px;
                margin-top: 40px;
            }
        }
    }
    .skills{
        padding-top: 46px;
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 250px);
            margin-top: 20px;
        }
        &__progress{
            grid-template-columns: 350px;
            gap: 48px normal;
            margin-top: 48px;
        }
    }
    .portfolio{
        padding-top: 47px;
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 250px);
            margin-top: 40px;
        }
    }
    .price{
        padding-top: 46px;
        &__wrapper{
            grid-template-columns: 366px;
            justify-content: center;
            margin-top: 20px;
        }
    }
    .contacts{
        padding-top: 46px;
        padding-bottom: 50px;
        &__photo{
            display: none;
        }
        &__desc{
            width: 100%;
        }
        &__form{
            margin-top: 30px;
        }
        &__inputs{
            flex-direction: row;
        }
        &__name, &__email{
            margin-top: 0;
            input{
                width: 250px;
            }
        }
        &__bottom{
            flex-direction: row;
        }
        &__button{
            margin-top: 0;
        }
        &__policy{
            width: 225px;
        }
        .policy__errorMessage{
            top: 35px; 
        }
    }
}

@media(max-width: 576px){
    .container{
        max-width: none;
        width: 100%;
        padding: 0px 10px;
    }
    .title{
        &_fs48{
            font-size: 26px;
            line-height: normal;
        }
        &_fs36{
            font-size: 24px;
            line-height: normal;
        }
        &__sectionSubtitle{
            margin-top: 26px;
        }
    }
    .line{
        margin: 15px auto 0 auto;
    }
    .button{
        &:hover{
            box-shadow: none;
            background-color: $main_color;
        }
    }
    .promo{
        background: url(../img/promo_bg_mini.png) no-repeat 50%/cover;
        &__link{
            &:hover{
                text-decoration: none;
            }
        }
        .hamburger{
            right: 20px;
        }
    }
    .menu{
        &__block{
            width: 250px;
            padding-left: 20px;
        }
        &__link{
            &:hover{
                &:before{
                    background-color: transparent;
                }
            }
            a{
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .aboutMe{
        &__wrapper{
            gap: 33px normal;
        }
        &__subtitle{
            margin-top: 26px;
        }
        .line{
            margin-top: 15px;
        }
        &__skills{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            gap: 20px normal;
            &Item{
                column-gap: 20px;
            }
        }
    }
    .benefit{
        &__wrapper{
            .resume{
                width: 100%;
                max-width: 300px;
                &__item{
                    padding-top: 10px;
                    &:first-child{
                        padding-top: 45px;
                    }
                }
            }
        }
    }
    .skills{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 270px);
            gap: 20px;
        }
        &__progress{
            grid-template-columns: minmax(auto, 300px);
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 280px);
            gap: 20px;
        }
        &__item{
            &:hover{
                transform: scale(1);
            }
        }
    }
    .price{
        .line{
            margin-top: 21px;
        }
        &__wrapper{
            grid-template-columns: minmax(auto, 300px);
            row-gap: 20px;
            justify-content: center;
        }
    }
    .contacts{
        &__subtitle{
            margin-top: 26px;
        }
        .line{
            margin-top: 15px;
        }
        &__link{
            &:hover{
                color: #fff;
            }
        }
        &__form{
            margin-top: 0;
        }
        &__inputs{
            flex-direction: column;
        }
        &__name, &__email{
            margin-top: 30px;
            input{
                width: 100%;
            }
        }
        &__bottom{
            flex-direction: column-reverse;
            margin-top: 20px;
        }
        &__button{
            margin-top: 20px;
        }
        &__policy{
            justify-content: center;
            width: 100%;
        }
        .policy__errorMessage{
            top: 15px; 
        }
    }
    .pageup{
        bottom: 20px;
        right: 20px;
    }
}

@media(max-width: 350px){
    .contacts{
        &__button{
            margin-top: 40px;
        }
        &__policy{
            width: 225px;
        }
        .policy__errorMessage{
            top: 35px; 
        }
    }
}

@media(max-height: 525px){
    .menu{
        &__block{
            padding-top: 75px;
        }
    }
}

@media(max-height: 475px){
    .promo{
        padding-top: 100px;
    }
    .menu{
        &__social{
            bottom: 25px;
        }
    }
}

@media(max-height: 435px){
    .menu{
        &__social{
            display: none;
        }
    }
}