.price{
    padding-top: 66px;
    background-color: #212121;
    .line{
        margin-top: 31px;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 366px);
        row-gap: 15px;
        justify-content: space-between;
        padding: 0 50px;
        margin-top: 60px;
    }
    &__item{
        width: 366px;
        padding-left: 25px;
    }
    &__head{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        position: relative;
        @include small_circle;
        &:before{
            left: -25px;
        }
    }
    &__cost{
        color: #fff;
        font-size: 14px;
        font-weight: 700;
    }
    &__desc{
        margin-top: 5px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
    }
}