.skills{
    padding-top: 126px;
    background-color: #212121;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 270px);
        gap: 13px;
        justify-content: center;
        margin-top: 60px;
    }
    &__item{
        min-height: 270px;
        padding: 30px 30px 25px 30px;
        border: 1px solid #fff;
    }
    &__icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 65px;
        margin-bottom: 20px;
    }
    &__desc{
        margin-top: 15px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
    }
    &__progress{
        display: grid;
        grid-template-columns: repeat(3, 350px);
        gap: 38px 45px;
        justify-content: center;
        margin-top: 128px;
        &Head{
            display: flex;
            justify-content: space-between;
        }
        &Title{
            padding-left: 14px;
            position: relative;
            z-index: 1;
            @include circle;
            &:before{
                top: -8px
            }
        }
        &Perc{
            margin-left: 15px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }
        &Bar{
            height: 14px;
            border-radius: 4px;
            margin-top: 27px;
            background-color: #E8E4DE;
            span{
                display: block;
                height: 100%;
                border-radius: 4px;
                background-color: $main_color;
            }
        }
    }
}